# Numpy Implementation

In [19]:
import numpy as np
# Create a 2D Numpy array of size 1x3 with elements of your choice
arr1=[[3,8,9]]

# Create a Numpy array of length 50 with zeroes as its elements
arr2=np.zeros([50])

#Create a Numpy array of length 3x2 with elements of your choice
arr3=([[4,9],[9,0],[99,8]])

#arr4=#Multiply arr1 and arr3 using Numpy functions
arr4 =  np.matmul(arr1,arr3)
#Change 5th element of arr2 to a different number
arr2[4]=9

if np.shape(arr4)==(1,2) and arr2[4]!=0:
  print("Passed")
else:
  print("Fail")

Passed

In [22]:
import numpy as np

#Task: Perform the dot product of I and 9I+1 using numpy, here I is referred to as an 3x3 Identity matrix.

arr1= np.identity(3)

arr2 = np.identity(3)
arr2 = arr2 * 9 + 1

arr3 = np.dot(arr1,arr2)

print(arr3)

[[10.  1.  1.]
 [ 1. 10.  1.]
 [ 1.  1. 10.]]

# Pandas Implementation

In [53]:
import pandas as pd

## Create a DataFrame from a dictionary
data = {
    'Name': ['Ramesh', 'Mahesh', 'Suresh'],
    'Age': [25, 30, 35],
    'City': ['Bangalore', 'Mumbai', 'Delhi']
}
#Your code here
df = pd.DataFrame(data)
#Display the first 2 rows of the data frame
#Your code here
print(df[0:2])

#Print the age column
#Your code here
print(df['Age'])

#Filter rows where age is greater than 26
#Your code here
print(df.loc[df['Age'] > 26])


#Add a new column 'Country' with the value 'India' for all rows
#Your code here
df['Country']=['India','India','India']
print(df)


data1 = {
    'Name': ['Ramesh', 'Mahesh', 'Suresh'],
    'Age': [25, None, 35],
    'City': ['Bangalore', 'Mumbai', 'Delhi']
}

df2= pd.DataFrame(data1)

# Fill missing values in the 'Age' column with the mean age
#Your code here

df2['Age'][1] = df2['Age'].mean()

print(df2)

     Name  Age       City
0  Ramesh   25  Bangalore
1  Mahesh   30     Mumbai
0    25
1    30
2    35
Name: Age, dtype: int64
     Name  Age    City
1  Mahesh   30  Mumbai
2  Suresh   35   Delhi
     Name  Age       City Country
0  Ramesh   25  Bangalore   India
1  Mahesh   30     Mumbai   India
2  Suresh   35      Delhi   India
     Name   Age       City
0  Ramesh  25.0  Bangalore
1  Mahesh  30.0     Mumbai
2  Suresh  35.0      Delhi

<ipython-input-53-cc4d70fb6873>:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Age'][1] = df2['Age'].mean()

# Matplotlib Implementation

In [ ]:
import matplotlib.pyplot as plt
import #numpy module. Fill your code



xpoints=np.array([1,2,3,4])
ypoints=np.array([2,4,6,8])

#Plot these points without drawing a line
#Your code here

#Plotting with marker: Plot these points with a marker(Star marker)
#Your code here

#Using fmt format, add circular marker,red color and Dashed line
#Your code here

#Add xlabel,ylabel and title for the plot.
#Your code here

#Create a scatter plot for xpoints and ypoints
#Your code here

#Set color to the scatter plot. Blue,Green,Red and yellow color for each point respectively

SyntaxError: invalid syntax (<ipython-input-5-8ace55936b42>, line 2)

# Miscellaneous Modules Implementation

In [49]:
import random
import numpy as np

#Set the seed of random to 20
#Your code here
random.seed(20)

arr1=np.array([1,24,31,45,73,81,94,25])

#Using the random module pick 4 different random numbers from arr1 and return their sum.
#Your code here
sum = arr1[random.randint(0,arr1.size-1)] + arr1[random.randint(0,arr1.size-1)] + arr1[random.randint(0,arr1.size-1)] + arr1[random.randint(0,arr1.size-1)]
print(sum)

209